/* BAR DE COMMANDE MENU */
li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0,0,0,1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#login {
  float: right;
  display: inline;
  width: 100px;
}

.login_img {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}


/* FIN BAR DE COMMANDE MENU */
