/* BAR DE COMMANDE MENU */
li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0,0,0,1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#login {
  float: right;
  display: inline;
  width: 100px;
}

.login_img {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}

/* FIN BAR DE COMMANDE MENU */

/* First block Background */

.first_block_background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* FIN First block Background */

.first_block_content {
  margin: 0;
  text-align: center;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}

.first_block_content h1 {
  font-size: 50px;
  font-style: Helvetica;
  font-weight: bold;
  color: white;
  text-align: center;
  z-index: 1;
}

/* First block Form */

.first_block_form {
  font-family: Helvetica;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-top: 100px;
  text-align: center;
  }

.form-inline {
  flex-flow: row wrap;
  margin
}

.form-inline label {
  margin: 10px 20px 10px 0;
  text-align: center;
}

.form-inline input {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #ddd;
}


/* FIN first block Form */

/* Block 3 Bouton */
#button_intro_main {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  float: right;
  display: inline-block;
  /*position: relative;*/
  margin-top: 25px;
  margin-right: 200px;
}

#button_intro_main:hover {
  background-color: rgba(0, 0, 0, 0.1)
}
/* FIN Block 3 Bouton */

/* START FOOTER */

a {
  text-decoration: none;
  color: white;
}

.footer_items {
  font-size: 15px;
  padding-bottom: 10px;
}

.col-3-auto {
  margin-bottom: 30px;
  /*height: 300px;*/
}

/*.hr_footer {
  width: 100px;
  display: block;
  margin-left: 0;
}*/


.footer {
  background: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.footer_columns {
  webkit-columns: 2;
  moz-columns: 2;
  columns: 2;
  webkit-column-gap: 0;
  moz-column-gap: 0;
  column-gap: 0;
  color: white;
  padding: 20px 50px 0px 150px;
}

.img-responsive {
  padding: 0 0 20 0;
}

#Aboutus {
text-align: left;
font-size: 20px;
text-decoration: none;
column-rule-color: white;
padding: 30px 0 0 0;
color: white;
font-style: italic;
margin-bottom: 15px;
font-weight: bold;
}

.col-9-auto {
  font-style: italic;
  font-weight: normal;
}

.footeritem a:hover {
   color: white;
   text-decoration: underline;
   overflow: hidden;
}

span.unclickable {
    color: white;
    cursor: not-allowed;
    text-decoration: none;
    font-size: 15px;
}

.footeritem h6 {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.reseaux_sociaux {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #141414;
}

/*#footer_instagram {
  padding-right: 20px;
  padding-left: 20px;
}*/

/* END FOOTER */
