li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0,0,0,1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#login {
  float: right;
  display: inline;
  width: 100px;
}

.login_img {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}

/* FIN BAR DE COMMANDE MENU */

hr {
  /*display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 4px;*/
  height: 300px;
  border: none;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #125edcff;
  margin-left: auto;
  margin-right: auto;
  }

/*hr:after {
    background: rgba(0,0,0,0.8);
    padding: 0 6px;
    position: relative;
    top: -13px;
}*/

/* CONTACT INFORMATION */


#whoarewe {
  text-align: center;
  font-family: Helvetica, sans-serif;
  size: 30px;
  }

.second_block_content {
  webkit-columns: 3 150px;
  moz-columns: 3 150px;
  columns: 3 150px;
  webkit-column-gap: 1em;
  moz-column-gap: 1em;
  column-gap: 1em;
    }

.img-circle {
    display: block;
    margin: 0 auto;

    width: 195px;
    height: 220px;
    border-radius: 50%;
  }

.profilename {
  text-align: center;
  font-family: Helvetica, sans-serif;
  size: 20px;
  }

.profiledescription {
  text-align: center;
  font-family: Helvetica, sans-serif;
  size: 15px;
  padding: 10px 40px 10px 40px;
  }

/* FIN CONTACT INFORMATION */

/* GOOGLE FORM */

#contactustitle {
  text-align: center;
  font-family: Helvetica, sans-serif;
  size: 30px;
  }


.googleform {
  position: center;
  left: 200px;
  margin-left: auto;
	margin-right: auto;
  }

/* FIN GOOGLE FORM */

/* START FOOTER */

a {
  text-decoration: none;
  color: white;
}

.footer_items {
  font-size: 15px;
  padding-bottom: 10px;
}

.col-3-auto {
  margin-bottom: 30px;
  /*height: 300px;*/
}

/*.hr_footer {
  width: 100px;
  display: block;
  margin-left: 0;
}*/


.footer {
  background: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.footer_columns {
  webkit-columns: 2;
  moz-columns: 2;
  columns: 2;
  webkit-column-gap: 0;
  moz-column-gap: 0;
  column-gap: 0;
  color: white;
  padding: 20px 50px 0px 150px;
}

.img-responsive {
  padding: 0 0 20 0;
}

#Aboutus {
text-align: left;
font-size: 20px;
text-decoration: none;
column-rule-color: white;
padding: 30px 0 0 0;
color: white;
font-style: italic;
margin-bottom: 15px;
font-weight: bold;
}

.col-9-auto {
  font-style: italic;
  font-weight: normal;
}

.footeritem a:hover {
   color: white;
   text-decoration: underline;
   overflow: hidden;
}

span.unclickable {
    color: white;
    cursor: not-allowed;
    text-decoration: none;
    font-size: 15px;
}

.footeritem h6 {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.reseaux_sociaux {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #141414;
}

/*#footer_instagram {
  padding-right: 20px;
  padding-left: 20px;
}*/

/* END FOOTER */
