/* BAR DE COMMANDE MENU */
li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0,0,0,1);
}

#login {
  float: right;
  display: inline;
  width: 100px;
}

.login_img {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}


/* FIN BAR DE COMMANDE MENU */

/* HEADER VIDEO */

.first_block {
  background-color: #111111;
}

div.first_block {
  height: 900px;
  weight: 100%;
  }

div.first_block_content {
  margin: 0;
  padding-top: 200px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.first_block_content h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  z-index: 1;
}

.first_block_content h2 {
  z-index: 1;
  text-align: center;
}

.first_block_content h5 {
  color: white;
  font-size: 25px;
  z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2 !important;
}

/*.underline--magical-yellow {
  background-image: linear-gradient(#D6C000, #BCA900 0%, #C9C316 100%);
  background-repeat: no-repeat;
  background-size: 100% 10px;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  bottom: .2rem;
  height: 1.2rem;
}

.underline--magical-yellow:hover {
  background-size: 100% 88%;
}*/

.heading {
  font-family: Helvetica, serif;
}

.subheading {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.button_intro_main {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 10px auto;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
}

.button_intro_main:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

 .first_block_content h6 {
  color: white;
  font-style: italic;
  margin: 6px auto;
  font-weight: normal;
}
.first_block_content a {
    color: white;
}

.first_block_video {
  position: absolute;
  align-content: center;
  text-align: center;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  top: 8px;
  background-size: 100%;
  display: block;
}

#button_intro_cercle {
  border-radius: 50%;
  margin-top: 100px;
  padding: 20px 20px 15px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
}

#button_intro_cercle:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

/* FIN HEADER VIDEO */

/* GENERAL TEXT */
* {
  font-family: Helvetica, sans-serif;
}
p {
  font-family: Helvetica, sans-serif;
  size: 16px;
  color: black;
}
p .category {
  border: black;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 35px;
  font-size: 20px;
}
h4 {
  display: inline;
}
/* FIN GENERAL TEXT */

/* 2EME BLOCK */

#first_title {
  color: white;
  font-size: 50px;
  padding-top: 84px;
  padding-bottom: 20px;
  text-align: center;
}

#first_subtitle {
  display: inline;
  color: white;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

#video_chat {
  display: inline;
  float: left;
  margin: 0 auto;
}

#h2_OurSolution {
  background-image: url(images/300x200/backgroundtitle.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  font-size: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 50px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.second_block {
  margin-top: 10px;
  padding-top: 30px;
  background: #242324;
  padding-bottom: 200px;
  /*border-color: white;
  border-style: solid;
  border-width: 10px;*/
  text-align: center;
  margin-bottom: 10px;
}

.table_second_block_img {
  padding: 10px 10px 10px 10px;
}

.table_second_block {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px 10px 30px;
}

.button_block2 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 50px auto 20px auto;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
}

table {
  border-spacing: 30px;
}

th {
  width: 300px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

tr {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.blue_separation {
  border-color:#125edcff;
  border-radius: 10%;
  background-color:#125edcff;
  width: 60px;
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.p_second_block {
  color: white;
  background-color:#125edcff;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

.highlight {
  background-color:#125edcff;
  color: white;
}

/*.underline--magical-blue {
  background-image: linear-gradient(#f5f7f8, #f5f7f8 0%, #125edcff 100%);
  background-repeat: no-repeat;
  background-size: 100% 10px;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
  bottom: .2rem;
  height: 1.2rem;
}

.underline--magical-blue:hover {
  background-size: 100% 88%;
}*/

/* FIN 2EME BLOCK */

/* 3EME BLOCK - AVANTAGES */

.third_block_h2 {
  background-color:#242324;
  background-size: cover;
  width: 100%;
  position: relative;
  font-size: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 50px;
}

.solution {
  text-align: center;
  font-family: Helvetica,sans-serif;
  font-size: 18px;
}



   #dashboard {
     background:
       linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.2)
       ),
       url(images/300x200/dashboard.jpg);
   }

   #planner {
     background:
       linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.2)
       ),
       url(images/300x200/planner.jpg);
       margin-left: 30px;
       margin-right: 30px;
   }

   #poll {
     background:
       linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.2)
       ),
       url(images/300x200/poll.jpg);
       margin-right: 30px;
   }

   #checklist {
     background:
       linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.2)
       ),
       url(images/300x200/checklist.jpg);
   }

   .module {
     width: 300px;
     height: 200px;
     position: relative;
     display: inline-block;
     margin-bottom: 100px;
   }

   .module .overlay {
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: rgba(95,95,95,0.2);
   }

   .module h2 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.module:hover h2 {
  display: none;
}

.module:hover .overlay {
  background-color: rgba(50, 50, 50, 0.4);
}

.module:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.module a.info {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 40px 40px 40px 40px;
  padding: 20px 20px;
}

.module a.info:hover {
  box-shadow: 0 0 5px #fff;
}

/* FIN 3EME BLOCK - AVANTAGES */

/* FOOTER */
.heading_typewrite {
  background-color:#125edcff;
  color:#fff;
  vertical-align: middle;
  line-height: 95px;
  height: 100px;
  /*padding-bottom: 30px;
  /*background-size: cover;
  width: 100%;*/
}

.h1_typewrite {
  text-transform: uppercase;
  margin-left: 200px;
  font-size: 20px;
  display: inline;
  vertical-align: middle;
}

.typewrite {
  color: white;
  text-decoration: none;

}

#button_footer {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  float: right;
  display: inline-block;
  /*position: relative;*/
  margin-top: 25px;
  margin-right: 200px;
}

#button_footer:hover {
  background-color: rgba(255,255,255,0.1)
}

/* END FOOTER */
